@import "config";
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
    padding: 0px;
  // The two lines of code below are important for a sticky footer!
  display: flex;
  flex-direction: column;
}
#main{
  flex:1;
}
//Navbar & Header CSS

.navbar {
  background-color: $primary-color;
  color: $primary-text-color;

  //navbar brand
  img {
    width: 150px;
  }
  .navbar-toggler-icon{
    color: $primary-text-color;
  }
  a {
    color: $primary-text-color;
  }
}

//HOME PAGE CSS
//banner css
#home-hero-image {
  .jumbotron {
    // background-color: $primary-color;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../assets/imgs/Home_Page_Banner.png);
    // background-size: cover; 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height: 100%;
    color: $primary-text-color;
    text-align: center;

    a {
      background-color: darken($secondary-color, 5%);
      border: none;
    }
  }
}

//Home Page content CSS
#home-page-grid {
  padding: 40px;
  text-align: center;
  h2,
  h4 {
    color: $primary-color;
  }
  i {
    font-size: 3rem;
    padding: 20px;
    color: darken($secondary-color, 5%);
  }
}


// ABOUT PAGE CSS
// banner
#about-hero-image{
  .jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../assets/imgs/About_Us_Banner.png);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height: 100%;
    color: $primary-text-color;
    text-align: center;
    padding: 120px 100px 10px 100px;
    a {
      background-color: darken($secondary-color, 5%);
      border: none;
    }
  }
}
// About page content
#about-page-text{
  h4{
    color: $primary-color;
  }
}

// SERVICES PAGE CSS
#services-hero-image{
  .jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../assets/imgs/Services_Banner.png);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height: 100%;
    color: $primary-text-color;
    text-align: center;
    padding: 120px 100px 10px 100px;
    a {
      background-color: darken($secondary-color, 5%);
      border: none;
    }
  }
}
#services-page-text{
  padding-bottom: 30px;
  h4{
    display:block;
    color: $primary-color;
    padding: 20px 0 5px 0;
  }

  
}

// CUSTOMERS PAGE CSS
// banner
#customers-hero-image{
  .jumbotron{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../assets/imgs/customers_banner.png);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height: 100%;
    color: $primary-text-color;
    text-align: center;
    padding: 120px 100px 10px 100px;
  }
}
.customer-section{
  padding: 20px;
  margin: 40px;
  .row{
    text-align: center;
  }
  .card-header{
    background-color: $primary-color;
    color:$primary-text-color;
    margin-bottom: 10px;
  }
  h5{
    color:$primary-color;
  }
}

//CONTACT US CSS
#contact-page{
  
  .jumbotron{
    background:none;
    
  }
  input{
    display:block;
    width: 100%;
    padding:5px;
    margin: 10px 0;
    border: solid 1px $secondary-color;
    border-radius: 5px;
  }
  textarea{
    display:block;
    width: 100%;
    border: solid 1px $secondary-color;
    border-radius: 5px;
    
  }
 #form-button{
   background-color: $secondary-color;
   border: none;
   margin: 20px 0;
   float:right;
 }
}

//FOOTER CSS
#footer{
  background-color: $primary-color;
  color: $primary-text-color;
  text-align: center;
  padding: 20px;
  // position: fixed;
  // left: 0;
  // bottom: 0;
  width: 100%;

  #footer-left{
    margin: auto 0;
  }
  #footer-middle{
    margin: auto 0;
    text-align: center;
  }
  #footer-right{
    text-align: left;
    
  }
  p{
    display: block;
    margin: 0;
  }
  i{
    padding: 10px
  }
}


